@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1> @ViewBag.Greeting Hello ASP.NET MVC World!!! </h1>
<ul>
    <li> @ViewBag.X </li>
    <li> @ViewBag.R </li>
</ul>
